

.expenses-table {
    width: 100%;
 border-collapse: collapse;
 border-radius: 8px;
}

.expenses-table th,
.expenses-table td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid rgba(36, 36, 36, 0.37);
}

.expenses-table th {
    font-weight: 600;
}

.expenses-table tr {
    &:last-child td {
        border-bottom: none;
    }
}

.table-removebtn {
    background: rgba(0,0,0,0.5);
   color: rgba(255, 255, 255);
   min-width: 80px;
}

