#root {
  width: 100vw;
  margin:  24px;
  padding: 24px;
}

.expenses-list {
 background-color: rgba(255, 255, 255, 0.87);
 color: #242424;
 padding: 16px;
 border-radius: 10px;
 margin-top: 32px;
 min-width: 800px;
}

.expenses-button {
  background-color: rgba(255, 255, 255, 0.87);
   color: #242424;
   margin: 16px 0;
   width: 150px;
}

.page-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
}

.page-left {
  display: flex;
  flex-direction: column;
  width: 280px;
}

