.filter-section {
display: flex;
gap: 16px;
padding: 24px 12px;
justify-content: space-between;
}

.filter-section select {
padding: 8px 8px 8px 4px;
border-radius: 4px;
background-color: #fff;
margin-left: 16px;
border: 2px solid rgba(36, 36, 36, 0.37);
}

::placeholder{
    color: #242424;
}

.filter-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;


    label {
        margin-right: 16px;
    }

    input {
        padding: 8px;
        border-radius: 4px;
        border: 2px solid rgba(36, 36, 36, 0.37);
        }
    }

.filter-select{
    min-width: 150px;
}

.filter-sort {
    min-width: 100px;
}

.filter-category {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.filter-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 16px;
}

.filter-cancelbtn {
    color: rgba(255, 255, 255);
    min-width: 150px;
    background-color: rgba(0,0,0,0.7);
}

